@{
//var profiler = MiniProfiler.Current;

//// allows us to test out starting a profiler hidden - use ALT + P to toggle display of results
//var startHidden = !string.IsNullOrEmpty(Request.QueryString["startHidden"]);
}
<!doctype html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/assets/app/img/favicon.ico">
    @*<link rel="apple-touch-icon" href="~/assets/home/img/apple-touch-icon.png">*@
    <title>@ViewBag._Title</title>
    @Styles.Render("~/bundle/global-styles")
    @RenderSection("PagePluginStyle", required: false)
    @Styles.Render("~/bundle/theme-styles")
    @Styles.Render("~/bundle/custom-styles")
    @RenderSection("css", required: false)
</head>
<body class="@ViewBag._BodyClass">
    <!--[if lt IE 9]>
       <p class="browsehappy">คุณใช้เบราว์เซอร์ที่ล้าสมัย ทำให้<strong>แสดงผลไม่ถูกต้อง</strong><br>โปรด<a href="http://browsehappy.com/">อัปเกรดเบราว์เซอร์ของคุณก่อนใช้งานโปรแกรม !!</a></p>
    <![endif]-->
    @RenderBody()
    <!-- BEGIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <script src="../../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundle/global-scripts")
    @RenderSection("PagePluginScript", required: false)
    @Scripts.Render("~/bundle/theme-scripts")
    @RenderSection("js", required: false)
    <!-- END JAVASCRIPTS -->
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()    
</body>
</html>